:root {
	--bg-main: #fff;
	--bg-sidebar: #f4f4f4;

	--border-color-primary: #ddd;
	--border-color-primary-hover: #aaa;

	--color-primary: #1d1d1d;
	--color-primary-hover: #333;

	--color-text-error: #e60000;
}
