$border-primary: 1px solid var(--border-color-primary);

$border-rad-heavy: 0.7em;
$border-rad-light: 0.35em;

$bp-desktop: 1320px;
$bp-mobile-large: 767px;
$bp-mobile-medium: 600px;
$bp-tablet: 1000px;

$transition-duration: 0.4s;
$transition-property: background-color, border, box-shadow, color, fill, opacity, text-shadow, transform;
